@model SBS.BE.ViewModels.CustomerLogin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login</title>
    @Styles.Render("~/Content/authenticate")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="~/images/bike.png" type="image/imge_header">
</head>
<body>
    @if (ViewBag.Message != null)
    {
        <div id="nofication" style="background:blue" class="notification">
            @ViewBag.Message
        </div>
    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="main" style="padding:0px">

            <!-- Sing in  Form -->
            <section class="sign-in">
                <div class="container">
                    <div class="signin-content">
                        <div class="signin-image">
                            <figure><img src="~/images/signin-image.jpg" alt="sing in image"></figure>
                            @Html.ActionLink("Create an Account", "Register", "Customer")
                            <div style="color:red;">@Html.ValidationSummary()</div>
                        </div>

                        <div class="signin-form">
                            <h2 class="form-title">Sign in</h2>
                            <form method="POST" class="register-form" id="login-form">
                                <div class="form-group">
                                    <label for="your_email"><i class="fa fa-envelope material-icons-name"></i></label>
                                    @Html.TextBoxFor(a => a.Email, new { @PlaceHolder = "Email", @required = "required" })

                                </div>
                                @Html.ValidationMessageFor(a => a.Email, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label for="your_email"><i class="fa fa-unlock-alt material-icons-name"></i></label>
                                    @Html.TextBoxFor(a => a.Password, new { @PlaceHolder = "Password", type = "Password", @required = "required" })

                                </div>
                                @Html.ValidationMessageFor(a => a.Password, "", new { @class = "text-danger" })<br />
                                @Html.ActionLink("Forgot Password", "ForgotPassword", "Customer")
                                <div class="form-group form-button">
                                    <input type="submit" id="signin" class="form-submit" value="Log in" />
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </section>

        </div>

    }


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script>
        setTimeout(function () {
            $('#nofication').fadeOut('fast');
        }, 4000);
    </script>
</body>
</html>
